{% extends "bootstrap/base.html" %}
{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}

{% for artist in artists %}
<a href="/artists/{{ artist.id }}"><h2>{{ artist.name }}</h2></a>
<div class="imgParent">
    <img src="{{ artist.image }}" alt="Atist Image" class="img-thumbnail">
</div>
    <ul>
        <li>
           {{ artist.description }}
        </li>
    </ul>

{% endfor %}

<a class="btn btn-primary" href="/artists/create" role="button">Add an Artist</a>

<style>
    img {
    display: block;
    max-width:500px;
    max-height:200px;
    width: auto;
    height: auto;
    }
</style>
{% endblock %}

